
{% extends  'base.html.twig' %}

{% block body %}
    <h1 xmlns="http://www.w3.org/1999/html"> Bienvenue - Welcome - Welkom - Bonvenon - Benvenuto</h1>
    <div class="row">
        <h4><a href="/login">Connexion</a></h4>
    </div>
{% endblock %}