{% extends  'base.html.twig' %}

{% block body %}
<main class="form-signin">
    <h1>Identification</h1>
    <form method="post" action="/auth">
        <div class="mb-3">
            <label for="email" class="form-label">Email / login</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Email / login" />
            <div id="emailHelp" class="form-text">Saisir votre email.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="mot de passe" />
        </div>
        <input type="submit" class="btn btn-primary" id="submit" value="Connexion" />
    </form>
    {% if error %}
    <div class="alert alert-warning mt-1" role="alert">
        {{ error }}
    </div>
    {% endif %}
</main>
{% endblock %}
