
{% extends  'base.html.twig' %}

{% block body %}
    <h1>Main</h1>
    <h6>Utilisateur connecté</h6>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/logout">Déconnexion</a></li>
    </ul>
    <div id="clickblock">
        <a onclick="autoCorrect(); return false;">Il y a des fotes dan sete fraz. Cliké ici pour lé corrigés.</a>
    </div>
    <script>
        var headline = document.getElementById("clickblock");
        function autoCorrect() {
            headline.innerHTML = "phrase corrigée";
        }
    </script>
{% endblock %}

